@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap');

*{
  box-sizing: border-box;
}

html {
  height:100%;
}

h1 {
text-align: center;
color: white;
font-size: 60px;
font-family: 'Pacifico', cursive;
text-shadow: 2px 2px 4px #000000;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(204, 51, 102) 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

body {
  text-align: center;
  align-content: center;
  margin: 0px;
  flex-direction: column;
  font-family: 'Pacifico', cursive;
  color: white;
  border: #000000;
  text-shadow: 2px 2px 4px #000000;
 
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  align-content: center;
  cursor: crosshair;
  
}

.etchas {
  margin-left: 650px;
  margin-top: 20px;
  width: 600px;
  height: 600px;
  border: 5px solid red;
  background-color: #09f;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("./etch-a-sketch-complete.png");
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.84),0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 20% 20%;
}

button {
 padding: 7px;
 border: none;
 border-radius: 5%;
 transition-duration: 0.6s;
 cursor: pointer;
 font-size: large;
 margin: 15px;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.84),0 17px 50px 0 rgba(0,0,0,0.19);
 font-family: 'Fredoka One', cursive;
 background-color: rgb(255, 0, 106);
 border: none;
 color: white;
 border-radius: 25% 10%;
 margin-top: 20px;

}

#rainbow {
background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}
  

button:hover {
 background-color: rgba(43, 43, 43, 0.212);
 color:white;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container>div {
  height: 25px;
  width: 25px;
  background-color: white ;
  border-radius: 10% 10%;
}
