*{
  box-sizing: border-box;
}
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
  }
  
  .container>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
  }
  .black-fill-color {
  background-color:black;
  }