*{
  box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 100px;
}
  
.container>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
}

.black-fill-color {
  background-color: black;
}

button {
  display: flex;
 align-items: center;
 flex-direction: column;
 
}
.body {
  align-content: center;
  display: flex;
  justify-content: center;
}

#custom-grid {
  display: flex;
  justify-content: flex-end;
}